<footer>
  <hr>
  <div class="footer-content">
    <p> CST336 Internet Programming. 2023&copy; Team 1 <br />
      <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br> It is used for academic purposes only.
    </p>
    <figure>
      <a href="https://www.csumb.edu" target="_blank">
        <img src="/img/CSUMB-Logo.png" alt="CSUMB logo" />
      </a>
    </figure>
  </div>
</footer>
<script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>
</html>