<%- include("partials/header.ejs") %>

  <div class="container p-4 my-4 bg-light rounded-5">
    <h3><strong>Welcome to Prosper - Your Gateway to Career Opportunities</strong></h3><br>

  <p>Discover your path to success with Prosper, the ultimate job finder website that empowers you to explore global job opportunities effortlessly. Whether you're embarking on a new career journey or seeking to advance in your current field, Prosper brings together the world of employment opportunities at your fingertips.</p>

  <i><p>Why Choose Prosper:</p></i>

  <strong><p>1. Global Job Search:</p></strong>
  <p>Explore a vast array of job opportunities worldwide using the Adzuna API. From bustling metropolises to serene landscapes, Prosper connects you with diverse employment options tailored to your skills and ambitions.</p>

  <strong><p>2. National Government Jobs:</p></strong>
  <p>Navigate the landscape of government employment with ease using the Career One Stop API. Access a comprehensive database of national government jobs, providing you with a gateway to impactful public service careers.</p>

  <strong><p>3. User-Friendly Interface:</p></strong>
  <p>Prosper boasts a sleek and intuitive design, ensuring a user-friendly experience for job seekers of all levels. Streamlined navigation and robust search functionalities make finding your dream job a breeze.</p>

  <i><p>Start Your Journey with Prosper:</p></i>

  <p>Embark on your path to prosperity today. Whether you're a seasoned professional or just beginning your career, Prosper opens the doors to a world of opportunities. Join us and explore, apply, and succeed.</p>

    <p>Ready to take the next step in your career? Let Prosper be your guide.</p>
</div><br>
<%- include("partials/footer.ejs") %>
